html,
        body {
            margin: 0;
            padding: 0;
            background-color: #29454d;
            /*绂佹鏂囧瓧琚�変腑*/
            -moz-user-select: none;
            /*鐏嫄*/
            -webkit-user-select: none;
            /*webkit娴忚鍣�*/
            -ms-user-select: none;
            /*IE10*/
            -khtml-user-select: none;
            /*鏃╂湡娴忚鍣�*/
            user-select: none;
            overflow: hidden;
        }

        .box {
            position: relative;
            height: 500px;
            width: 500px;
            margin: 100px auto;
            transform-style: preserve-3d;
            perspective: 2000px;
        }

        .di {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 200px;
            width: 200px;
            transform: translate(-50%, -50%) rotatex(90deg);
            transform-style: preserve-3d;
        }

        .z {
            position: relative;
            height: 200px;
            width: 200px;
            border-radius: 50%;
            transform-style: preserve-3d;
            /*transform: rotatez(1deg);*/
        }

   .z p{
            margin: 0;
            position: absolute;
            top: 0;
            /*涓轰簡淇濊瘉鍦嗗績鍦ㄧ埗鐩掑瓙涓績锛岀埗鐩掑瓙鏃嬭浆鏃跺渾蹇冪ǔ瀹氾紝鎵�浠ヨ缃甽eft*/
            left: 25px;
            height: 200px;
            width: 150px;
            border: 2px solid #fd7068;
            box-sizing: border-box;
            background-color: #ffffff;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            /*opacity: .7;*/
            font-size: 10px;
            line-height: 200px;
            text-align: center;
            /*box-shadow: 0 0 100px #16ff8b;*/
            /*鍊掑奖锛屼笉鍏煎*/
            -webkit-box-reflect: below 10px -webkit-linear-gradient(top, rgba(250, 250, 250, 0), rgba(250, 250, 250, .0) 30%, rgba(250, 250, 250, 0.5));
            box-reflect: below 10px -webkit-linear-gradient(top, rgba(250, 250, 250, 0), rgba(250, 250, 250, .0) 30%, rgba(250, 250, 250, 0.5));
            /*backface-visibility: hidden;*/
        }